p{
    font-family: Roboto,Arial;
    margin-top: 0;
    margin-bottom: 0;
}
@media (max-width: 1000px) {
    .all{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .all{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (min-width: 1001px) and (max-width: 1199px) {
    .all{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
